.blackBackground {
  position: relative;
}
.detailed-Product-Wrapper {
  background-color: #242526;
  border-radius: 12px;
  padding: 20px;
  display: flex;
  height: 60%;
  width: 70%;
  flex-direction: row;
  position: absolute;
  top: 15%;
  left: 15%;
}
.product-carousel-wrapper {
  height: 100%;
  width: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  /* background-color: purple; */
  position: relative;
}
.product-carousel {
  position: absolute;
  top: 10%;
  height: 100%;
  width: 100%;
  padding: 5px;
}
.detailedProduct-details {
  /* background-color: red; */
  height: 100%;
  width: 90%;
  padding: 20px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.detailedProduct-actions {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  width: 90%;
  gap: 10px;
  /* background-color: yellow; */
}
.gray {
  /* background-color: "#3A3B3C"; */
  border: "none";
}

.detailedProduct-Condition {
  /* background-color: gold; */
  margin-top: 20px;
  width: 90%;
  display: flex;
  flex-direction: row;
  gap: 5%;
  justify-content: start;
}
.detailedProduct-Description {
  /* background-color: green; */

  width: 90%;
}
.detailedProduct-heading {
  width: 90%;
}
@media only screen and (max-width: 1200px) {
  .detailed-Product-Wrapper {
    height: 60%;
    width: 100%;

    top: 25%;
    left: 20px;
  }
}
@media only screen and (max-width: 790px) {
  .detailed-Product-Wrapper {
    flex-direction: column;
    height: fit-content;
    top: 10%;
  }
  .product-carousel-wrapper {
    height: fit-content;
    width: 100%;
    margin: 20px;
    background-color: purple;
  }
  .product-carousel {
    position: relative;
    top: 10%;
    height: 100%;
    width: 100%;
    padding: 5px;
  }
}
